#banner
	.banner_content
		%h1.quote "A Simple notebook application."
		%p.name - Notepal
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote 
		%p.name - Notepal
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

			.callout
				%h2 Books
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.

			.callout
				%h2 Diary
				%p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.
#bottom_cta
	.wrapper

		%p You will be having a FREE Diary if you sign up!
		%button= link_to "Click Meee!!!", new_user_registration_path

%footer
	%p &copy; Allanzzz...
